<div class="body">
  <section>
    <form>
      <h1>S'inscrire</h1>
      <div class="inputbox">
        <ion-icon name="person-outline"> </ion-icon>
        <input type="text" name="name" required>
        <label>Votre nom</label>
      </div>
      <div class="inputbox">
        <ion-icon name="mail-outline"> </ion-icon>
        <input type="email" name="email" required>
        <label>Votre email</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"> </ion-icon>
        <input type="password" name="password" required>
        <label>Mot de passe</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"> </ion-icon>
        <input type="password" name="confirm-password" required>
        <label>Confirmer mot de passe</label>
      </div>

      <button type="submit">S'inscrire</button>
      <div class="register">
        <p>
          Vous avez déjà un compte ? <a href="#">Se connecter</a>
        </p>
      </div>
    </form>
  </section>
</div>
